<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comic.name %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @comic.issue %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @comic.summary %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
